# {{ ansible_managed }}

###############################################################################
# HISTORY CONFIG
###############################################################################
export HISTFILESIZE=
export HISTSIZE=
export HISTFILE=~/.bash_eternal_history
export HISTTIMEFORMAT="%d/%m/%y %T "
PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

###############################################################################
# COLOR
###############################################################################
LS_COLORS=$LS_COLORS:'di=1;37:' ; export LS_COLORS

###############################################################################
# LANG CONFIG
###############################################################################
export LC_ALL=en_US.UTF-8
